body{
    margin: 0px;
    padding: 0px;
    height: 1200px;
}
/*Entête*/
header{
    width: 100%;
    height: 850px;
}

#background{
    background-image: url(../img/couverture.jpg);
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: scroll;
    position: fixed;
    top: -5em;
}
/*Barre de navigation*/
#PCnav {
    background-color: #3B3B3B;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 4px 0px 6px #7A7A7A;
    display: flex;
    z-index: 1;
}

.logoblanc {
    display: flex;
    margin-left: 4em;
    margin-top: -1em;
    width: 150px;
    height:150px;
    border-bottom-style: groove;
    border-color: #FFB300;
}

ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#firstNav{
    margin-top: 3em;
}

li {
    text-align: center;
    list-style-type: none;
    line-height: 2.5em;
    font-size: 1.3em;
}

.socialButton {
    line-height: inherit;
}

#followme {
    color: #D9D9D9;
    margin-bottom: 0em
}

.Button{
    display: inline-block;
    margin: 1em;
    width: 1.5em;
    height: 1.5em;
}

li:hover {
    color: #FFB300;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #FFB300;
}

a {
    text-decoration: none;
    color: #D9D9D9;
}

a:hover{
    color: #FFB300;
}
/*............Parties 1 et 2: à propos et projets............*/
/*Fond*/
#categoriesBackground{
    background-color:#ffffff;
    float:left;
    position:absolute;
    height:1400px;
    margin-top:0px;
    margin-right:0%;
    margin-bottom:0px;
    /*Variable selon la navbar*/
    margin-left:20%;
    width:80%;
}

.subCategorie1{
    padding:10px;
    margin:10px;
    margin-left:200px;
    margin-right:200px;
    text-align:center;
    font-family: 'Gilda Display', serif;
}

.subCategorie2{
    padding:20px;
    margin:20px;
    text-align:center;
    font-family: 'Gilda Display', serif;
}

h2{
    padding-top:100px;
    font-family: 'Trirong', serif;
    border-top:1px solid #FFB300;
}
/*Grille*/
.gridContainer {
    display:grid;
    align-items:center;
    /*Permet d'avoir des colonnes identiques, qui prennent tout l'espace disponible 
    et qui font au minimum 300px et au max "1fr"(=le maximum qu'elle peut faire sans dépasser)*/
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    width:90%;
    margin:5%;
    height:500px;
    grid-column-gap:50px;
}
/*les parties de grille, pour ne pas que tout ne soit immense et se chevauche*/
.gridItem{
    position:relative;
}
/*Images, pour qu'elles prennent toute leur partie mais pas + ni -*/
.projectImg{
    width:100%;
}
/*Titres des différentes parties*/
.projectTitle {
    font-size: 30px;
    text-decoration: none;
    position:absolute;
    display:flex;
    align-items:center;
    text-align:end;
    z-index:1;
    height:100%;
    width:100%;
    opacity:0;
    transition: opacity .5s;
}
/*Couleurs des titres*/
.black{
    color:#000000;
}

.yellow{
    color:#FFB300;
}
/*Pour que le titre soit visible quand on passe notre souris sur sa partie de grille */
.gridItem:hover .projectTitle{
    opacity:1;
}
/*Pour que tout devienne flou (sauf le titre) quand on passe notre souris sur leur partie de grille*/
.gridItem:hover .projectThumbnail .projectImg{
    filter:blur(2px);
}
/*............Footer............*/
#footer{
    position:absolute;
    bottom:0;
    width:99%;
    height:30px; 
    font-family: 'Gilda Display', serif;
    text-align:center;
    background-color:#ffffff;
}

.footerList{
    display:inline;
    list-style-type:none;
    padding-left:20px;
    padding-right:20px;
}

.footerLink{
    color:#000000;
}

a{
    text-decoration: none;
}
/*Tout ce qui est pour Portable*/
.mediaQueries{
    display:none;
}

#MOBILEnav{
    display:none;
}

@media (hover:none){
    /*Grille*/
    .gridContainer{
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

    .projectTitle{
        opacity:1;
    }
    /*Footer*/
    #footer{
        position:fixed;
        bottom:0;
        background:#ffffff;
        height:30px;
    }

    .footerList{
        padding-right:5px;
        padding-left:5px;
    }

    .mediaQueries{
        display:inline;
    }
    /*Barre de navigation*/
    #PCnav{
        display:none;
    }

    #categoriesBackground{
        width:100%;
        margin-left:0px;
    }

    #MOBILEnav{
        display:inline-block;
        position:fixed;
        top:350px;
        width:99%;
        height:30px; 
        font-family: 'Gilda Display', serif;
        text-align:center;
    }
    
    ul {
        width:100%;
    }

    li {
        text-align: center;
        list-style-type: none;
        display:inline;
        line-height: 2.5em;
        font-size: 1.3em;
        margin-left:100px;
    }

    a {
        text-decoration: none;
        color: #D9D9D9;
    }