
/*............Parties 1 et 2: à propos et projets............*/
/*Fond*/
#background{
    background-color:#ffffff;
    float:left;
    position:absolute;
    height:1050px;
    margin-right:0%;
    margin-bottom:0px;
    /*Variable selon l'entête*/ 
    margin-top:500px;
    /*Variable selon la navbar*/
    margin-left:24%;
    width:75%;
}

.subCategorie1{
    padding:10px;
    margin:10px;
    margin-left:200px;
    margin-right:200px;
    text-align:center;
    font-family: 'Gilda Display', serif;
}

.subCategorie2{
    padding:20px;
    margin:20px;
    text-align:center;
    font-family: 'Gilda Display', serif;
}

h2{
    padding-top:100px;
    font-family: 'Trirong', serif;
    border-top:1px solid #FFB300;
}
/*Grille*/
.gridContainer {
    display:grid;
    align-items:center;
    /*Permet d'avoir des colonnes identiques, qui prennent tout l'espace disponible 
    et qui font au minimum 300px et au max "1fr"(=le maximum qu'elle peut faire sans dépasser)*/
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    width:90%;
    margin:5%;
    height:500px;
    grid-column-gap:50px;
}
/*les parties de grille, pour ne pas que tout ne soit immense et se chevauche*/
.gridItem{
    position:relative;
}
/*Images, pour qu'elles prennent toute leur partie mais pas + ni -*/
.projectImg{
    width:100%;
}
/*Titres des différentes parties*/
.projectTitle {
    font-size: 30px;
    text-decoration: none;
    position:absolute;
    display:flex;
    align-items:center;
    text-align:end;
    z-index:1;
    height:100%;
    width:100%;
    opacity:0;
    transition: opacity .5s;
}
/*Couleurs des titres*/
.black{
    color:#000000;
}

.yellow{
    color:#FFB300;
}
/*Pour que le titre soit visible quand on passe notre souris sur sa partie de grille */
.gridItem:hover .projectTitle{
    opacity:1;
}
  /*Pour que tout devienne flou (sauf le titre) quand on passe notre souris sur leur partie de grille*/
.gridItem:hover .projectThumbnail .projectImg{
    filter: blur(2px);
}

@media (hover: none){
    .gridContainer{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .projectTitle{
        opacity:1;
    }
}