body {
  margin: 0px;
  padding: 0px;
}
nav {
background-color: #3B3B3B;
width: 20%;
height: 100%;
position: fixed;
left: 0px;
top: 0px;
box-shadow: 4px 0px 6px #7A7A7A;
display: flex;

}
.logoblanc {
  display: flex;
  margin-left: 3em;
  margin-top: -1em;
  width: 150px;
  height:150px;
  border-bottom-style: solid;
  border-color: #FFB300;
  border-bottom-width: medium;
}
ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
li {
  text-align: center;
  list-style-type: none;
  line-height: 2.5em;
  font-size: 1.3em;
}
#followme {
  color: #D9D9D9;
}
.Button{
  display: inline-block;
  margin: 1em;
  width: 2em;
  height: 2em;
}

li:hover {
  /* background-color: #FFB300; */
  color: #FFB300;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #FFB300;
}
a {
  text-decoration: none;
  color: #D9D9D9;
}
a:hover{
  color: #FFB300;
}
